# Dependencies
node_modules/

# Production
/.next/
/out/

# Dependencies build
/turbo
/.pnpm

# Environment variables
.env*.local

# Logs
logs/
*.log

# Typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Swagger
swagger-docs.json